*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body{
    text-align: center;
    -webkit-font-smoothing: antialiased !important;
}

::-webkit-scrollbar {
    width:3px;
}
::-webkit-scrollbar-thumb{
    background:#93939D;
}

header > h1 {
    margin-top: 50px;
    margin-bottom: 2rem;
    line-height: 1.15;
    font-size: 2rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}

main{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

h2{
    font-size: 1.5rem;    
}

input, button { 
    margin-top: 24px; 
    padding: 8px; 
}

iframe { 
    width: 100vw; 
    height: 100vh; 
    border: 1px solid #ccc; 
}

input{ 
    border: 1px solid #000;
    border-radius: 8px;
    min-width: 300px;
}

button{
    background-color: #FFF;
    color: #000;
    font-weight: bolder;

    border: 1px solid #000;
    border-radius: 8px;
    width: 100px;
}

button:hover{
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    border: 1px solid #FFF;
}

@media only screen and (max-width: 1300px) {
    main{
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {
    main{
        display: block;
        
    }

}